@import url('https://fonts.googleapis.com/css?family=Roboto');

.menu{
	background-color: #e38d13;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 20pt;
}

.logo-text{
	color: #009688;
}

nav ul li{
	width: 140px;
	text-align: center;
}