<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Talents - Cadastre sua Empresa</title>
</head>

<body class="back">

    <div class="container">
        <div class="row center">
            <h5>
                <b>Cadastre sua empresa</b>
            </h5>
            <br/> Se você chegou até aqui, é porque gostou da proposta da plataforma
            <br/> Então está esperando o que ? Preencha o formulário abaixo e seja feliz
            <br/> Venha fazer parte dessa revolução no mundo do recrutamento.
        </div>

        <form name="formulario" id="formulario">
            <div class="container">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">domain</i>
                        <input name="cnpj" id="cnpj" type="text" class="validate" minlength="3" required>
                        <label for="titulo">CNPJ</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <select required>
                            <option value="" disabled selected>Selecione o Cargo</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Cargo</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <select required>
                            <option value="" disabled selected>Regime de contratação</option>
                            <option value="1">CLT</option>
                            <option value="2">PJ</option>
                            <option value="3">Freelancer</option>
                            <option value="3">Estágio</option>
                        </select>
                        <label>Contratação</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">monetization_on</i>
                        <input id="titulo" type="text" class="validate" required>
                        <label for="titulo">Salário</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">filter_1</i>
                        <input id="titulo" type="text" class="validate" required>
                        <label for="titulo">Quantidade de vagas</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <select required>
                            <option value="" disabled selected>Jornada de Trabalho</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Jornada</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <select required>
                            <option value="" disabled selected>Experiência</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Experiência</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <textarea id="textarea1" class="materialize-textarea" minlength="5" required></textarea>
                        <label for="textarea1">Benefícios</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <textarea id="textarea1" class="materialize-textarea" minlength="10" required></textarea>
                        <label for="textarea1">Descrição das atividades</label>
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <select required>
                            <option value="" disabled selected>Escolha os cursos</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Cursos Desejado Para Vaga</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <select required>
                            <option value="" disabled selected>Habilidades</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Escolha as Habilidades</label>
                    </div>

                    <div class="input-field col s12 m8">
                        <select required>
                            <option value="" disabled selected>Idiomas</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Escolha os idiomas desejáveis</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <select required>
                            <option value="" disabled selected>Senioridade</option>
                            <option value="1">Básico</option>
                            <option value="2">Médio</option>
                            <option value="3">Avançado</option>
                        </select>
                        <label>Escolha o nível</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4 m4 offset-s2 offset-m2">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Criar
                        <i class="material-icons right">send</i>
                    </button>         
                </div>
            </div>
        </form>
    </div>

        <!-- JQUERY do Materialize -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- JavaScript do Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <!-- Materialize Compentes -->
        <script>
            $(document).ready(function () {
                $('select').material_select();
            });
        </script>
</body>
</html>