<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Talents - Cadastre sua Empresa</title>
</head>

<body class="back">

    <div class="container">
        <div class="row center">
            <h5>
                <b>Cadastre sua empresa</b>
            </h5>
            <br/> Se você chegou até aqui, é porque gostou da proposta da plataforma
            <br/> Então está esperando o que ? Preencha o formulário abaixo e seja feliz
            <br/> Venha fazer parte dessa revolução no mundo do recrutamento.
        </div>

        <form name="formulario" id="formulario">
            <div class="container">
                    <input type="hidden" value="<?php echo $cd_empresa ?>" name="cd_empresa" id="cd_empresa"/>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">info</i>
                        <input name="cnpj" id="cnpj" type="text" class="validate" minlength="3" required>
                        <label for="titulo">CNPJ</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">business_center</i>
                        <input name="razaosocial" id="razaosocial" type="text" required>
                        <label for="razaosocial">Razão Social</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">business_center</i>
                        <input name="nomefantasia" id="nomefantasia" type="text" required>
                        <label for="nomefantasia">Nome Fantasia</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">book</i>
                        <input id="areaatuacao" name="areaatuacao" type="text" class="validate" required>
                        <label for="titulo">Área de atuação</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <select required>
                            <option value="" disabled selected>Selecione o porte atual</option>
                            <option value="1" <?php echo $nr_porte=='1'?'selected':'';?></option>> 1 - 5</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Porte</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input id="responsavel" name="responsavel" type="text" class="validate" required>
                        <label for="titulo">Responsável pelo cadastro</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">contacts</i>
                        <input id="telefone" name="telefone" type="tel" class="validate" required>
                        <label for="titulo">Contato</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="titulo">Email</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">language</i>
                        <input id="site" name="site" type="text" class="validate" required>
                        <label for="titulo">Site</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">https</i>
                        <input id="senha" name="senha" type="password" class="validate" required>
                        <label for="titulo">Senha</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">https</i>
                        <input id="senhaconfirmacao" name="senhaconfirmacao" type="password" class="validate" required>
                        <label for="titulo">Confirmar Senha</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6 m6 offset-s2 offset-m2">
                    <button class="btn waves-effect waves-light" type="submit" name="buttonSubmit" id="buttonSubmit">Cadastrar
                        <i class="material-icons right">send</i>
                    </button>         
                </div>
            </div>
        </form>
    </div>

        <!-- JQUERY do Materialize -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- JavaScript do Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <!-- Materialize Compentes -->
        <script>
            $(document).ready(function () {
                $('select').material_select();
            });
        </script>
</body>
</html>