<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - Talents</title>
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav class="teal darken-1">
                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">Talents</a>
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="#">Sass</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Javascript</a></li>
                    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Perfil"><a href="#"><i class="material-icons">person</i></a></li>
                    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sair"><a href="#"><i class="material-icons">exit_to_app</i></a></li>
                  </ul>
                  <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">Javascript</a></li>
                    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Perfil"><a href="#"><i class="material-icons">account_balance</i></a></li>
                    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sair"><a href="#"><i class="material-icons">exit_to_app</i></a></li>
                  </ul>
                </div>
              </nav>
        </div>
    </header>

    <section>
        <div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card cyan white-text">
                        <div class="card-content white-text">
                            <span class="card-title grey-text">Publicar Vaga</span>
                            <p><h4 class="center-align"><i class="medium material-icons">note_add</i></h4></p>
                            <p class="center-align grey-text">Publique aqui a vaga desejada e obtenha os melhores profissionais possíveis.</p>
                        </div>
                        <div class="card-action cyan darken-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- JQUERY do Materialize -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- JavaScript do Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Materialize Compentes -->
    <script>
        $(document).ready(function () {
           $('select').material_select();
        });

        //Script do Menu
        $(".button-collapse").sideNav();
    </script>

</body>
</html>